{% load static %}
<nav class="navbar" style="background-color: #00526c">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'sliki/logo.png' %}" alt="logo" style="height: 98px; width: 113px">
    </a>
    <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/products" style="color: white">Products</a>
          </li>

        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/login" style="color: white">Log in</a>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">{{user.username}}</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout" style="color: white">Log out</a>
          </li>
        {% endif %}

    </ul>
  </div>
</nav>