{% load static %}
<nav class="navbar" style="background-color: #00526c">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'sliki/logo.png' %}" alt="logo" style="height: 98px; width: 113px">
    </a>
    <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/products" style="color: white">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Log in</a>
          </li>
    </ul>
  </div>
</nav>